<h1> Events On <%= @events[0].date %>: </h1>

<% @events.each do |x| %>

<h2> <%= x.band.name %> </h2>
<h3> Alcohol Served: <%= x.alcohol_served %></h3>
<% end %>

<%= form_tag '/events', method: :get %>
	<%= date_field_tag "date" %>
	<%= submit_tag("Search") %>
	<%= hidden_field_tag :id, value: 1 %> 
