<h1> All Events: </h1>

<% @events.each do |x| %>

<h2> <%= x.date %> | <%= x.band.name %> | <%= x.concert_hall.name %> </h2>
<h3> Alcohol Served: <%= x.alcohol_served %></h3>
<% end %>


<%= form_tag '/events', method: :get %>
	<%= date_field_tag "date" %>
	<%= submit_tag("Search") %>
	<%= hidden_field_tag :id, value: 1 %> 
