<h1> Check Out Your Favorite Venue: </h1>

<% @concert_halls.each do |x| %>

<h2> <%= link_to x.name, concert_hall_path(x.id) %> </h2>
<h3> Location: <%= x.city %>, <%= x.state %> </h3>
<% end %>


<h3> <%= link_to "Create New Venue Here", new_concert_hall_path %> </h3>
<h3> <%= link_to "Create New Band Here", new_band_path %> </h3>
