<h1> <%= @concert_hall.name %> </h1>

<% @concert_hall.events.each do |x| %>

<h3> <%= x.band.name %> </h3>
<h4> <%= x.date %> </h4>
<h4> Alcohol Served: <%= x.alcohol_served %></h4>
<% end %></br>

<h2> Add New Event Below: </h2>

<%= form_for @event do |f| %>
	<%= f.date_field :date %>
	<%= f.label(:alcohol_served, "Alcohol Served?") %>
	<%= f.check_box(:alcohol_served) %> </br>
	<%= f.hidden_field :concert_hall_id, value: @concert_hall.id %>
	Band: <%= f.collection_select :band_id, Band.all, :id, :name %> </br>
	<%= f.submit %>

<% end %>