<h1> <%= @concert_hall.name %> </h1>

<% @concert_hall.events.each do |x| %>

<h2> <%= x.band.name %> </h2>
<h2> <%= x.date %> </h2>
<h3> Alcohol Served: <%= x.alcohol_served %></h3>
<% end %>


<%= form_for @event do |f| %>
	<%= f.date_field :date %>
	<%= f.label(:alcohol_served, "Alcohol Served?") %>
	<%= f.check_box(:alcohol_served) %> </br>
	<%= f.hidden_field :concert_hall_id, value: @concert_hall.id %>
	Band: <%= f.collection_select :band_id, Band.all, :id, :name %> </br>
	<%= f.submit %>

<% end %>